@import "tailwindcss";

:root{
  --cor1: #f8f8f8;
  --cor2: #cccccc;
  --cor3: #848484;
  --cor4: #1a2a49;
  --cor5: #0c73c7;
  --cor6: #080808;
  --cor7: #6c757d;
  --cor8: #d3d3d3;
  --corInfo: #17A2B8;
  --rt-opacity: 1;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

body {
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button{
  cursor:pointer;
}
